html, body {
    min-height:100%;
}

.container{
	min-height: 100%;
    background-color: #fff;
    width: auto !important;
    margin: 0;
    padding: 10px;
}

/* Responsive Conditional */
@media (min-width: 1024px) {
  .container{
    margin-left: 36rem;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
  }
}

/* Responsive Conditional */
@media (max-width: 1024px) {
  .small{
    display:block;
  }
  .large{
    display:none;
  }
}

/* Responsive Conditional */
@media (min-width: 1024px) {
  .large{
    display:block;
    background-color: #202020;
    position: fixed;
    top: 10px;
    left: 42rem;
    right: 60px;
  }
  .small{
    display:none;
  }
}

.post{
	font-family: "Roboto Condensed", Arial, sans-serif;
	line-height: 1.5em;
    font-weight: 300;
    font-size: 20px;
}

.profile-avatar{
	display: block;
	margin: auto;
}

.author-name{
	text-align: center;
	color: #ddd;
}